#include "common.xcconfig"

COPY_PHASE_STRIP = YES
CLANG_DEBUG_INFORMATION_LEVEL = line-tables-only
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_NS_ASSERTIONS = NO
ENABLE_TESTABILITY = NO
ENABLE_BITCODE = YES
GCC_OPTIMIZATION_LEVEL = fast
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) RELEASE _RELEASE NDEBUG OMIM_PRODUCTION HAVE_PTHREAD
LLVM_LTO = YES
ONLY_ACTIVE_ARCH = NO
MTL_ENABLE_DEBUG_INFO = NO
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
